body {
  margin: 0;
  background-color: #313131;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loading{
  color:white;
  position: absolute;
}

.followUsers_container::-webkit-scrollbar{
  width: 10px;
  background-color: rgb(49, 46, 46);
}
.followUsers_container::-webkit-scrollbar-thumb{
  background-color: rgb(29 34 38); 
  border-radius:10px;
}
.followUsers_container::-webkit-scrollbar-track{
  border-radius:10px;
  background-color: white;
}
.followUsers_container{
  margin: 10px;
  width: 300px;
  border-radius: 5px;
  position: sticky;
  top: 76px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  overflow-y: scroll;
  height: 67vh;
  background-color: #b508cc33;
  color: aliceblue;
}

.followUsers_Inner_container{
  display:flex;
  align-items: center;
  gap:30px;
  padding: 20px 0px;
  
}

.users_pic{
  width:50px;
  height:50px;
  cursor: pointer;
  border-radius:50px;
  object-fit: cover;
  position: relative;
  left: 5px;
}
.users_pic:hover{
  transform: scale(1.5) rotate(10deg);
  transition: all 0.5s ease-in-out;
}

.follow_btn, .view_profile_btn{
color:white;
background-color:blue;
border: none;
outline: none;
padding:6px 30px;
border-radius:4px;
margin:0px 7px 0px 0px;
cursor:pointer;
}



h3{
  margin:5px 0px;
}
p{
  margin:5px 0px;
}
